h1,
h2,
h3,
h4,
p {

    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {

    margin: 0;
    padding: 0;
    list-style: none;
}

* 
*::before,
*::after {

    box-sizing: border-box;
}

img {

    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {

    cursor: pointer;
}

.container {

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {

    padding: 94px 0;
    align-items: center;
}

.body {

    color: var(--primary-text-color);
    background-color: var(--background-whight);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.section__title {

    display: flex;
    width: 100%;
    justify-content: center;
    
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}