.section-feature {

    padding-bottom: 47px;
}

.feature {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
    
@media (min-width: 480px) {
    flex-direction: row;
}  
&__icon-bg {

    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background: var(--main-background);
    border-radius: 4px;
}
&__icon {

    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
&__title {

    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;

    display: block;
    text-align: center;
}
&__text {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 270px;

    display: inline;
    text-align: center;
}
&__item {

    width: 100%;

    @media (min-width: 768px) and (max-width: 1199px) {

        flex-basis: calc((100% - 30px) / 2);
    }

    @media (min-width: 1200px) {

        flex-basis: calc((100% - 90px) / 4);
    }
}
}









