.footer {

    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {

    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-contact__adress {

    color: var(--background-whight);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 9px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-contact__link {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-contact {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 9px;
}

.footer-net__title {

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-whight);
    margin-bottom: 20px;
    padding-top: -25px;
}

.footer-net {

    display: block;
}

.footer-net__list {

    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.footer-net__link {

    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--background-whight);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

