.footer {

    background-color: var(--footer-background);
    padding: 60px 0;
}

.footer-container {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 60px;

    @media (min-width: 768px) and(max-width: 1199px) {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
   
    @media  (min-width: 1200px) {
        flex-direction: row;
        align-items: baseline;
        text-align: start;
        justify-content: space-between;
    }
}

.footer-position {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (min-width: 768px) and(max-width: 1199px) {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 165px;
        align-items: baseline;
        justify-content: space-between;
    }

    @media (min-width: 1200px) {
    flex-direction: row;
        align-items: baseline;
        text-align: start;
        justify-content: space-between;
    }
    
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-contact {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 9px;

&__link {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    }
&__adress {

    color: var(--background-whight);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
}


.footer-net {

    display: block;

&__title {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-whight);
    margin-bottom: 20px;
}
&__list {

    display: flex;
    gap: 10px;
}
&__link {

    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--background-whight);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}
}




