.header {

    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}

.header__container {

    display: flex;
    align-items: center;

    @media (max-width: 767px) {
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 15px;
    }
    
}

.header__nav {

    display: none;

    @media (min-width: 768px) {
        display: flex;
    }
}

.header__burger-menu {
    border: none;
    background-color: var(--background-whight);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
    

    @media (min-width: 768px) {
        display: none;
    }
}

.menu {

    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-left: 91px;
}

.menu__nav-link {

    position: relative;
    display: block;
}

.menu__link {

    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    
}

.menu__link--current {

    color: var(--accent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;

    &::after {
        position: absolute;
        display: inline-block;
        content: " ";
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -32px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

.contact {
    display: none;

    @media (min-width: 768px) and(max-width:1199px) {
        display: block;
        align-items: center;
            margin-left: auto;
            row-gap: 50px;
    }
     @media (min-width: 1200px) {
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-left: 315px;
        gap: 30px;
     }
}

.contact__link {

    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-bottom: 10px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        color: var(--accent-color);
    }
}