.mobile-menu {
position: fixed;
display: none;
margin-left: auto;
margin-right: auto;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: var(--background-whight);
z-index: 1;

&__button {
        position: absolute;
        top: 10px;
        right: 15px;
        border: none;
        background-color: var(--background-whight);

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }

    &__wrap {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 48px;
        padding-right: 40px;
        padding-bottom: 48px;
        padding-left: 40px;

        @media (max-width: 479px) {
            padding-top: 55px;
            padding-right: 30px;
            padding-bottom: 55px;
            padding-left: 30px;
        }
    }
    &.is-open {
        display: block;
    }

    
    &__link {

        display: flex;
        align-items: center;
        padding-bottom: 35px;

        color: var(--title-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &--current {
            color: var(--accent-color);
        }

        @media (max-width: 479px) {
            font-weight: 700;
            font-size: 30px;
        }

        }

    &__linked {

        margin-bottom: 270px;
        }

    &__pfone {

        display: flex;
        width: 100%;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
        color: var(--accent-color);
        text-decoration: none;

        @media (max-width: 479px) {
                font-weight: 400;
                font-size: 25px;
            }
        }

    &__mail {

        display: flex;
        width: 100%;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        padding-bottom: 64px;
        text-decoration: none;
        color: var(--primary-text-color);

        @media (max-width: 479px) {
                font-weight: 400;
            }
        }

    &__netlist {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2px;
        letter-spacing: 0.02em;
        color: var(--accent-color);
        text-decoration: none;
        padding: 0 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        @media (max-width: 479px) {
                font-weight: 400;
                font-size: 12px;
            }
        }
    &__netline {
        width: 22px;
        height: 0;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(33, 33, 33, .2);
        border-radius: 0;
        transform: rotate(90deg);
        margin-right: 10px;
        }

    &__net {

        display: flex;
        }
}



