.section-team {

    background: var(--main-background);
}

.team {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media (min-width: 480px) {
            flex-direction: row;
}
}

.section__title {
    display: flex;
    width: 100%;
    justify-content: center;
}