.net-list {

    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;

    &__link {
    
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: var(--background-whight);
            fill: #AFB1B8;
            
            transition-property: background-color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                background-color: var(--accent-color);
                fill: var(--background-whight);
            }
        }
}

